@charset "EUC-KR";
@use "utils" as *;
@use "global" as *;

.untitled-page22 {
  &.root {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
    box-shadow: 0 3px 6px 0 rgb(0.07 0.06 0.16 / 12%);
    overflow: hidden;
  }

  .flex_row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 30px 30px 0px 40px;
  }

  .flex_row1 {
    display: flex;
    gap: 0 23px;
    margin: 670px 0 0;
    width: 216px;
    min-width: 0;
  }

  .text1 {
    min-width: 0;
    font: 400 14px/1.57 Inter, Helvetica, Arial, serif;
    color: rgb(142 147 160);
  }

  .content_box4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    width: 470px;
    min-width: 0;
    background-color: rgb(255 255 255);
    border-radius: 4px;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px 40px ;
    height: 587px;
  }

  .flex_col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78.97%;
  }

  .hero_title {
    display: flex;
    justify-content: center;
    font: 700 50px/1.4 Inter, Helvetica, Arial, serif;
    color: #00e5ff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 28px;
  }

  .text11 {
    display: flex;
    justify-content: center;
    font: 400 14px/1.57 Inter, Helvetica, Arial, bold;
    color: #9095A0FF;
    text-align: center;
    letter-spacing: -0.1px;
  }

  .content_box2 {
    display: flex;
     font: 700 50px/1.4 Inter, Helvetica, Arial, bold;
    flex-direction: column;
    color: #9095A0FF;
    margin: 4px 0 0;
    width: 100%;
  }

  .flex_col2 {
    display: flex;
    flex-direction: column;
    gap: 1px 0;
    margin: 0 1px 1px 0;
  }

  .highlight2 {
    font: 700 18px/1.55 Inter, Helvetica, Arial, bold;
    color: black;
  }

  .content_box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
    border-radius: 25.5px;
    outline: 1px solid rgb(188 193 201);
  }

  .highlight1 {
    margin: 12px 0 11px 20px;
    width: 184px;
    font: 400 18px/1.55 Inter, Helvetica, Arial, bold;
    color: #00bfff;;
  }

  .content_box21 {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
    width: 100%;
  }

  .highlight11 {
    margin: 12px 0 11px 20px;
    width: 340px;
    font: 400 18px/1.55 Inter, Helvetica, Arial, bold;
    color: black;
  }

  .text {
    margin: 8px 0 0;
    width: 100%;
    font: 400 14px/1.57 Inter, Helvetica, Arial, bold;
    color: rgb(0 188 214);
  }

  .btn {
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
    width: 300px;
    max-width: 100%;
    font: 400 14px/1.55 Inter, Helvetica, Arial, sans-serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(0 188 214);
    border-radius: 100px;
    padding: 12px 0px;
    border: aliceblue;
    cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
  }
  
  /* 버튼 호버(마우스를 올렸을 때) 스타일 */
.btn:hover {
	background-color: #0056b3; /* 버튼 배경색을 어두운 파란색으로 변경 */
	
}

  .btn1 {
    display: flex;
    justify-content: center;
    margin: 650px 0px 5px;
    min-width: 108px;
    font: 400 14px/1.57 Inter, Helvetica, Arial, bold;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(0 188 214);
    border-radius: 4px;
    padding: 7px 14px;
    letter-spacing: -1.4px;
  }
}
